<form [formGroup]="addForm" (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      class="form-control"
      formControlName="title"
    />
    <p
      class="help-block"
      *ngIf="!addForm.get('title')?.valid && addForm.get('title')?.touched"
    >
      You have to fill the input!
    </p>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input
      type="text"
      id="description"
      class="form-control"
      formControlName="description"
    />
    <p
      class="help-block"
      *ngIf="
        !addForm.get('description')?.valid &&
        addForm.get('description')?.touched
      "
    >
      You have to fill the input!
    </p>
  </div>
  <div class="form-group">
    <label for="name">Calendar</label>
    <div class="form-group">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          formControlName="date"
          ngbDatepicker
          #d="ngbDatepicker"
          required
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="d.toggle()"
            type="button"
          >
            <span class="glyphicon glyphicon-calendar"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button
      class="btn btn-success"
      style="margin: 10px 10px 10px 0px"
      [disabled]="!addForm.valid"
    >
      Add Note
    </button>
    <button class="btn btn-info" (click)="onHandleBack()">Back</button>
  </div>
  <div class="alert alert-success" style="margin-top: 20px" *ngIf="addSuccess">
    Save successfully
  </div>
</form>
