<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      class="form-control"
    />
    <p
      class="help-block"
      *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched"
    >
      Please enter a valid email
    </p>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      class="form-control"
    />
  </div>
  <p class="alert alert-danger" *ngIf="error" style="margin-top: 10px">
    Wrong email or password
  </p>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" /> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
    Submit
  </button>
  <button class="btn btn-primary" routerLink="/auth/signup">Sign up</button>
  <button class="btn btn-primary" routerLink="/note">Home</button>
</form>
